body.imagem-home {
    background-image: url("imagens/fundo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height:100vh;
}
body {
    background-color: darkgray;
}

.apresentacao {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: flex-start;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo > h2 {
    color: red;
    font-size: 40px;
}

.oque-achei {
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    padding: 5px;
}

.imagem {
    padding: 5px;
}

.imagem>img{
    width: 300px;
    height: 200px;
}

.conteudo> h2 {
    font-size: 25px;
}

.tipo-inteligencia > p {
    margin: 20px 0;
}